export GC_URL=https://api.graph.cool/simple/v1/...
export ROOT_TOKEN=...
export GOOGLE_CLIENT_ID=...
export HOST=0.0.0.0
export REMOTE_DOCKER_PATH=192.168.1.64:5000
export SALT=changemeToSomethingElse
